*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Comfortaa", sans-serif;
}
.all-content{
	background: whitesmoke;

}
html::-webkit-scrollbar-track{
	background: transparent;
}
html::-webkit-scrollbar-thumb{
	background: orange;
	border-radius: 10px;
}
html::-webkit-scrollbar{
	width: 10px;
}

#navbar{
	background-color: black;
}
#logo img{
	border-radius: 10px;
	width: 70px;
	margin-left: 40px;
}
.navbar-nav{
	margin-left: 50px;
}
.nav-item .nav-link{
	color: whitesmoke;
	margin-left: 10px;
	font-weight: bold;
	transition: 0.5s;
}
.nav-item .nav-link:hover{
	background: whitesmoke;
	border-radius: 5px;
	color: black;
}
#navbar form button{
	background: whitesmoke;
	color: black;
	border: 1px solid black;
}

#home{
	width: 100%;
    height: 90vh;
    position: relative; /* To ensure that content above the video can be positioned correctly */
    overflow: hidden; /* Hides any overflow from the video */

}
#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the video covers the entire background without distortion */
    z-index: -1; /* Places the video behind any content */
}
#home .content{
	position: absolute;
    top: 55%; /* Centers the content vertically */
    left: 50%;
    transform: translate(-50%, -50%); /* Ensures perfect centering */
    color: white; /* Makes the text white for contrast over the video */
    text-align: center;
    z-index: 1; /* Ensures the content stays on top of the video */
    padding: 20px;
}
#home .content h3{
	font-size: 3rem; /* Adjust the font size */
    margin-bottom: 20px;
}
#home .content p{
	margin-top: 10px;
	color: whitesmoke;
}
#btn{
	width: 350px;
	height: 36px;
	margin-top: 20px;
	background: whitesmoke;
	border-radius: 5px;
	font-weight: bold;
	border: none;
	transition: 0.5s ease;
	cursor: pointer;
}
#btn:hover{
	background: orange;
}


#about{
	width: 100%;
	height: 100vh;

}
#about .container{
	padding-top: 70px;
}
.heading{
	text-align: center;
	margin-bottom: 50px;
	color: black;
	font-size: 30px;
	font-weight: bold;
}
.heading span{
	color: orange;
}
#about .card {
	border-radius: 10px;
}
#about .card img{
	border-radius: 10px;
}
#about-btn{
	width: 200px;
	height: 36px;
	background: transparent;
	border: 2px solid orange;
	color: orange;
	border-radius: 5px;
	font-weight: bold;
	transition: 0.5s;
	cursor: pointer;
}
#about-btn:hover{
	background-color: orange;
	color: whitesmoke;
}
@media screen and (max-width:982px){
	#about p{
		font-size: 8px;
	}
}

@media screen and (max-width:766px){
	#about p{
		font-size: 15px;
	}
	#about{
		height: 120vh;
	}
}
